{% load static %}
<html>

<head>
    <title>Doctor Account Switch Patients</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/doc_account.css' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:700">
</head>

<body>
    <div class = "page_header">
        <h1><a class="white_link" href="/createtasks/{{current}}/{{date}}">FOOLERTON</a></h1>
    </div>

    <div class = "sidebar">
        <h2>Patient:</h2>
        {% for ppl in people %}
        <p id="patient_name"><a id="patient_link" href="/createtasks/{{ ppl.pk }}/{{date}}">{{ppl.name}}</a></p>
        {%endfor%}
        <p>____________________</p>
        <p class="sidebar_item"><a class="sidebar_link" href="http://127.0.0.1:8000/createtasks/{{current}}">Tasks</a></p>
        <p class="sidebar_selected"><a class="sidebar_link" href="http://127.0.0.1:8000/healthinfo/{{current}}">Health Information</a></p>
    </div>

    <div class = "topbar">
        <div class = "topbar_child"><img src="{% static 'assets/account_icon.svg' %}" id="account_icon"/></div>  
        <a id="account_link" href="http://127.0.0.1:8000/docacc"><div class = "topbar_child"><p>{{name}}</p> </div></a>
    </div>

    <div class = "contents">
        <div class = "title">
            <img src="{% static 'assets/account_icon.svg' %}" id="accountIcon"/>
            <span id= "titletext"> Your Profile </span>
            <img src="{% static 'assets/account_icon.svg' %}" id="accountIcon_PW"/>
            <span id= "titletext"> Switch Patient </span>
        </div>

        <div class = "left_content">
            <div class ="display_text">
                <p>Name: </p>
                <div class ="text_field">
                    <p id="name_value">{{name}}</p>
                </div>
            </div>

            <div class ="display_text">
                <p>Email Address: </p>
                <div class ="text_field">
                    <p id="email_value">{{email}}</p>
                </div>
            </div>
        </div>

        <div class = "right_content">
            <form action = 'docacc' method = "POST">
                {% csrf_token %}
                <p>Which patient would you like to switch to? </p><br>
                <div class = "task_action">
                    <select id="action_select" name="options">
                        # Have to change this part
                        <option value="" disabled selected hidden>Select...</option>
                        <option value="update">Patient 1</option>
                        <option value="change">Patient 2</option>
                        <option value="manage">Patient 3</option>
                    </select>

                    <button>Confirm</button>
                </div>
                
            </form>
        </div>


    </div>
</body>
</html>