{% load static %}
<!DOCTYPE html>

<html>

<head>
	<title>Manage</title>
	<link href="{% static 'css/mng_pat.css' %}" rel="stylesheet" />

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:700">

</head>

<body>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<div class="wrapper">
		<div class="page_header">
			<a id="healthInfo_link" href="/createtasks/{{current}}/{{date}}">FOOLERTON</a>
		</div>

		<div class="main_columns">
			<div class="sidebar">
				<div class="sidebar_wrapper">

					<h3>Patient:</h3>
					{% for ppl in people %}
					<p id="patient_name"><a id="patient_link" href="/createtasks/{{ ppl.pk }}/{{date}}">{{ppl.name}}</a>
					</p>
					{%endfor%}
					<div class="sidebar_line"></div>
					<div class="sidebar_tabs">

						<p class="sidebar_item"><a id="tasks_link"
								href="http://127.0.0.1:8000/createtasks/{{current}}/{{date}}">Tasks</a></p>
						<p class="sidebar_selected"><a id="healthInfo_link"
								href="http://127.0.0.1:8000/healthinfo/{{current}}">Health Information</a></p>
					</div>
				</div>
			</div>

			<div class="main_content">
				<div class="topbar">
					<a id="account_link" href="http://127.0.0.1:8000/docacc">
						<img src="{% static 'assets/account_icon.svg' %}" id="account_icon" />
						<span>{{name}}</span>
					</a>
				</div>

				<!-- Requires editing -->
				<div class="main_task_content">
					<div class="task_today_col">
						<div class="task_col_header">
							<img src="{% static 'assets/account_icon.svg' %}" id="account_icon" />
							<p>Manage Patient Profile</p>
							<style>
								div {
									white-space: nowrap;
								}
							</style>

							<form action="manage" method="POST">
								{% csrf_token %}
								<div class="task_action">
									<select class="task_action" name="action">
										<option value="addpat">Add patient profile</option>
										<option value="removepat">Remove patient profile</option>
										<option value="addcare">Link caretaker profile</option>
										<option value="removecare">Unlink caretaker profile</option>
									</select>
								</div>
								<!-- <button type="button" id="action_select_button">Next</button> -->
								<!-- <input type="submit" id="add_task_button" value = "Next"> -->
								<!-- </form> -->
								<div>

									<!-- <script>
									swal({
										title: "Are you sure you want to \n delete this patient profile?",
										text: "Mary Tan",
										icon: "warning",
										buttons: {
											back: { text: "Back", className: 'sweetactionbutton'}, 
											confirm: { text: "Confirm", className: 'sweetactionbutton', value: "confirm"}},
										className: 'sweetactionbg'
									  })
									  .then((value) => {
										switch (value){
											case "confirm":
											swal("Patient profile has been deleted successfully!", {
												icon: "success",
												button: { text: "Return", className: 'sweetactionbutton'},
												className: 'sweetactionbg'
											});
										}
									  });
								</script> -->
								</div>
						</div>
						<div class="tasklist_container">
							<ul class="tasklist">


								{% for ppl in people %}
								<li>
									<!-- <p id="patient_name"><a id="patient_link" href="/createtasks/{{ ppl.name }}">{{ppl.name}}</a></p> -->
									<input type="radio" id="{{ppl.name}}" name="person" value="{{ppl.name}}">
									<label for="{{ppl.name}}">{{ppl.name}}</label><br>
								</li>
								{%endfor%}

							</ul>
						</div>
						<div id="status_message_wrapper" class="message_wrapper">
							<span id="status_message" class="message">{{message}}</span>
						</div>
						<input class="createbutton" type="submit" value="Next">
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
<script>
	var message_el = document.getElementById("status_message_wrapper");
	if ("{{message}}") {
		message_el.style.display = "block";
	}

</script>

</html>